<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EasyDb.ViewModel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EasyDb.ViewModel.Properties.Settings>
            <setting name="DefaultServer" serializeAs="String">
                <value />
            </setting>
            <setting name="PromptOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
        </EasyDb.ViewModel.Properties.Settings>
    </userSettings>
</configuration>